{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<h1>Portfolio</h1>
    <!-- <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->



    <section class="portfolio">
      <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card shadow-2-strong" style="background-color: #ffffff;">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="portfolioTable" class="table table-hover mb-0">
                        <thead>
                          <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in database %}
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              <div class="trade-forms">
                                <form action="" method="post" class="sell-form">
                                  <input type="hidden" name="symbol" value="">
                                  <input type="number" name="shares" placeholder="1" min="1" max="">
                                  <button type="submit" class="btn btn-danger btn-sm px-3">
                                    <i class="fas fa-times">Sell</i>
                                  </button>
                                </form>
                                <form action="" method="post" class="buy-form">
                                  <input type="hidden" name="symbol" value="">
                                  <input type="number" name="shares" placeholder="1" min="1" step="1">
                                  <button type="submit" class="btn btn-success btn-sm px-3">
                                    <i class="fas fa-check">Buy</i>
                                  </button>
                                </form>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <td></td>
                            <td></td>
                            <th scope="1">Cash:</th>
                            <th scope="1"></th>
                            <td>
                              <form id="depositForm" style="display: none;" action="" method="post">
                                <input type="hidden" name="amount" value="0">
                              </form>
                              <input id="depositInput" type="number" name="depositInput" placeholder="Amount to Deposit" step="0.01" min="0">
                              <button id="depositButton" type="button" class="btn btn-success btn-sm px-3">
                                <i class="fas fa-times">Deposit</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <th scope="1">Total:</th>
                            <th scope="1"></th>
                            <td>
                              <form id="withdrawForm" style="display: none;" action="" method="post">
                                <input type="hidden" name="amount" value="0">
                              </form>
                              <input id="withdrawInput" type="number" name="withdrawInput" placeholder="Amount to Withdraw" step="0.01" min="0">
                              <button id="withdrawButton" type="button" class="btn btn-primary btn-sm px-3">
                                <i class="fas fa-times">Withdraw</i>
                              </button>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}


